@use "../helpers/index" as *;

.faq {
  display: grid;
  gap: 50px;
  @include md-block{
    gap: 30px;
  };
  @include sm-block{
    gap: 20px;
  };

  &__items {
    display: grid;
    gap: 20px;
    @include xs-block{
      gap: 10px;
    };
  }

  &__item {
    font-family: var(--second-family);
    background: var(--color-light);
    border-radius: 40px;
    @include xs-block{
      border-radius: 20px;
    };
  }

  &__details {
    &[open] {
      .faq__summary-btn {
        rotate: -180deg;
      }
    }
  }

  &__summary {
    display: grid;
    grid-template-columns: 1fr 30px;
    align-items: center;
    gap: 20px;
    padding: 24px 41px;
    font-size: 30px;
    @include sm-block{
      padding: 24px 30px;
      font-size: 24px;
    };
    @include xs-block{
      font-size: 18px;
    };
  }

  &__summary-btn {
    @include tr;
  }

  &__body-inner {
    padding: 0 41px 24px;
    font-size: 20px;
    @include sm-block{
      font-size: 18px;
      padding: 0 30px 24px;
    };
    @include xs-block{
      font-size: 16px;
    };
  }
}