@use "../helpers/index" as *;

.feedback {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  @include md-block{
    gap: 20px;
  };
  @include sm-block{
    grid-template-columns: 100%;
    gap: 10px;
  };

  &__item {
    border-radius: 20px;
    overflow: hidden;
  }

  &__form {
    min-height: 100%;
    padding: 50px 40px;
    background: var(--color-light);
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include xs-block{
      padding: 20px;
      gap: 10px;
    };
  }

  &__fields {
    display: grid;
    gap: 20px;
    @include xs-block{
      gap: 10px;
    };
  }

  &__field {
    & > input {
      width: 100%;
      border: 1px solid #525252;
      border-radius: 100vmax;
      padding: 0 40px;
      height: 71px;
      font-size: 22px;
      @include xs-block{
        padding: 0 20px;
        height: 39px;
        font-size: 16px;
      };
    }
  }

  &__tarrifs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    @include xs-block{
      gap: 10px;
    };
  }

  &__tarrif {
    cursor: pointer;

    input {
      display: none;

      &:checked + .feedback__tarrif-fake {
        background: var(--color-accent);
        border-color: var(--color-accent);
      }
    }
  }

  &__tarrif-fake {
    border: 1px solid var(--color-dark);
    border-radius: 20px;
    height: 41px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-size: 18px;
    color: var(--color-dark);
    @include xs-block{
      height: 30px;
      font-size: 14px;
    };
  }

  &__accept {
    display: grid;
    grid-template-columns: 26px 1fr;
    gap: 10px;
    line-height: 112%;
    color: var(--color-dark);
    @include xs-block{
      font-size: 14px;
    };

    input {
      flex-shrink: 0;
      accent-color: var(--color-accent);
      width: 26px;
      height: 26px;
    }

    a {
      text-decoration: underline;
      @include hover {
        color: var(--color-red);
      }
    ;
    }
  }

  &__submit {
    border-radius: 10px;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--color-accent);

    font-size: 23px;
    line-height: 150%;
    color: var(--color-dark);
    @include tr;
    @include hover {
      background-color: var(--color-accent-10);
    }
    @include xs-block{
      height: 43px;
      font-size: 16px;
    };


  }

  &__img {
    height: 100%;
  @include sm-block{
    aspect-ratio: 1/1;
  };

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    iframe{
      border: none;
      width: 100%;
      height: 100%;
    }
  }

}