@use "../helpers/index" as *;

.header {

  &__top{
    border-radius: 100px;
    padding: 10px 40px 10px 10px;
    background: var(--color-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @include xs-block{
      padding: 8px 16px 8px 8px;
      gap: 4px;
      justify-content: initial;
    };
  }

  &__logo{
    @include xs-block{
      width: 74px;
      margin-right: auto;
    };
  }

  &__socials{
    .socials{
      &__link{
        span{
          @include xs-block{
            display: none;
          };
        }
      }
    }
  }

  &__phone{
    a{
      font-family: var(--second-family);
      font-weight: 500;
      font-size: 18px;
      @include hover{
        color: var(--color-red);
      };
      @include xs-block{
        font-size: 16px;
      };
    }
  }

  &__menu{
    @include md-block{
      display: none;
    };
  }

  &__bottom{
    margin-top: 10px;
    display: none;
    background: var(--color-light);
    border-radius: 100px;

    @include md-block{
      display: flex;
      justify-content: center;
    };
  }
}