@use "../helpers/index" as *;

.accordion{

  &__summary{
    list-style: none;
    cursor: pointer;
    &::-webkit-details-marker {
      display: none;
    }
  }

  &__content {
    display: grid;
    grid-template-rows: 0fr;
    transition-duration: 0.3s;
  }

  &__content-body {
    overflow: hidden;
  }

  &__details[open] + .accordion__content {
    grid-template-rows: 1fr;
  }
}

